/* lightbox.component.css */

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure the lightbox is on top of other content */
}

.lightbox-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
}

.lightbox-container img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}
.lightbox-container video {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}
.lightbox-overlay .close {
  position: absolute;
  top: 1%;
  right:1.5%;
}


.lightbox-overlay .next {
  position: absolute;
  top: 50%;
  right:1.5%;
}

.lightbox-overlay .previous {
  position: absolute;
  top: 50%;
  left:1%;
}

.lightbox-overlay .count {
  position: absolute;
  top: 1%;
  left:1%;
}

.icon-lg{
  font-size: 1.2rem;
}
